importFrom("plyr", ddply)
importFrom("lubridate", ymd)

export(
	"fetch_activity",
	"fetch_draw",
	"fetch_demographics",
	"fetch_matchfacts",
	"fetch_summary",
	"fetch_records",
	"fetch_rankings_history",
	"fetch_rankings",
	"fetch_wta_draw",
	"fetch_head_to_head",
	"fetch_wta_rankings"
)


